body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 42px;
}

span {
    font-size: 92px;
    align-self: center;
}

h1 {
    margin-top: 0;
    font-size: 32px;
    font-weight: normal;
    align-self: center;
}

h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    align-self: self-end;
}

span.animate {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
